XTerm.termName: xterm-256color
XTerm.vt100.foreground: grey
XTerm.vt100.background: black
XTerm.vt100.faceName: Ubuntu Mono-14
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.selectToClipboard: true
XTerm.vt100.translations: #override \
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD)
